body {
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
}

.section {
    width: 70vw;
    margin: 100px auto;
}

button {
    border-radius: 10px;
    color: #F9FAF8;
    
    font-size: 16px;
    font-weight: 700;
}

/* ======== HEADER NAVIGATION ======== */
.navigation {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    padding-top: 20px;
}

.navigation .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navigation .links a {
    text-decoration: none;
    color: #e5e7eb;
}

/* ======== HEADER DESCRIPTION ======== */
.description {
    display: flex;
    width: 70vw;
    height: 50vh;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.description-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.description .text {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.text .subtext {
    margin-bottom: 10px;
}

.description img {
    width: 30vw;
    height: 25vh;
}

.description button {
    border: none;
    background-color: #3882F6;  
}

/* ======== MAIN CONTENT ======== */

/* FIRST SECTION - INFO */
.info.section {
    margin-top: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    gap: 50px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
}

.info ul {
    width: 60vw;
    display: flex;
    list-style-type: none;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.info li {
    width: 15vw;
    text-align: center;
}

.square {
    border: 1px solid #388df6;
    border-radius: 10px;
    height: 18vh;
    margin-bottom: 10px;
}

/* SECOND SECTION - TESTIMONIAL */
.testimonial.section {
    padding: 100px 0;
    background-color: #e5e7eb;
    width: 100vw;
}

.description-testimonial {
    display: flex;
    flex-direction: column;
    width: 56vw;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: auto;
}

.testimonial cite {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    align-self: flex-end;
    margin-right: 40px;
}

/* THIRD SECTION - SIGN UP SECTION */
.signUp {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.signUp button {
    border: 2px solid #e5e7eb;
    background-color: #3882F6;
    align-self: flex-end;
}